<template>
  <div class="hello">
    <h1 class="text-2x1 text-indigo-900">{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'Test',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
