
title = "test"
url = "/:all?*"
==
function onStart()
{
    $this['vuetober'] = [
        'env' => app()->env,
        'token' => Session::token(),
    ];
}
==

<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="vuetober" content="{{ vuetober | json_encode }}">

        
        <title>vuetober</title>
    <link href="http://localhost:8080/js/about.js" rel="prefetch"><link href="http://localhost:8080/js/app.js" rel="preload" as="script"><link href="http://localhost:8080/js/chunk-vendors.js" rel="preload" as="script"></head>
    <body>
        <noscript>
            <strong>We're sorry but vuetober doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
        
    <script type="text/javascript" src="http://localhost:8080/js/chunk-vendors.js"></script><script type="text/javascript" src="http://localhost:8080/js/app.js"></script></body>
</html>
