<template>
  <div id="app">
    <div class="p-10">
      <router-link class="text-indigo-800" to="/">Home</router-link> |
      <router-link class="text-indigo-800" to="/about">About</router-link>
    </div>
    <router-view/>
  </div>
</template>
<style scoped>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}


a {
  font-weight: bold;
  color: #2c3e50;
}

.router-link-exact-active {
  color: #42b983;
}

</style>
