<template>
  <div class="about justify-items-center grid">
      <img alt="Vue logo" src="../assets/logo.png">
    <h1 class="text-3xl text-green-400">This is an about page</h1>
    <Test msg="About | Welcome this is a test form about view."/>
  </div>
</template>


<script>
// @ is an alias to /src
import Test from '@/components/Test.vue'

export default {
  name: 'home',
  components: {
    Test
  }
}
</script>
