<template>
  <div class="home justify-items-center grid">
    <img alt="Vue logo" src="../assets/logo.png">
    <Test msg="Home | Welcome this is a test component"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Test from '@/components/Test.vue'

export default {
  name: 'home',
  components: {
    Test,
  }
}
</script>
